*  {
    box-sizing: border-box;

}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  line-height: 1.4;
}

img {
    width: 100%;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 13px;
}

.logo {
    width: 175px;
    display: block;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav {
    text-align: left;
  }
  
nav ul {
    margin: 0;
    padding: 10px;
    list-style: none;
    display: flex;
}
  
nav li {
    margin-left: 3em;
    margin-bottom: 0;
}
  
nav a {
    color: #000;
    font-weight: 400;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase; 
}

.product {
    display: flexbox;
    gap: 1em;
}

img {
    border-radius: 10px;
}

.product {
    display: grid;
    grid-template-columns: (6, 1fr);
    grid-template-areas: 
     "img1 img1 img1"
     "img1 img1 img1"
     "img2 img3 img4"
     "img2 img3 img4"    
    ;
}

.product img:nth-child(1) {
    grid-area: img1;
  }
  
.product img:nth-child(2) {
    grid-area: img2;
  }
  
.product img:nth-child(3) {
    grid-area: img3;
  }
  
.product img:nth-child(4) {
    grid-area: img4;
  }


a.btn {
    background-color: #000; 
    color: #fff; 
    padding: 4px; 
    border-radius: 5px; 
    margin: auto;
    padding: 5px;
    text-decoration: none;

}


a.btn {
    background-color: #000; 
    color: #fff; 
    padding: 15px; 
    border-radius: 5px; 
    margin: auto;
    padding: 10px;
    text-decoration: none;
    
  }
  
#behind-the-dough .wrapper {
      display: flexbox;
      background-color: #f8fafc;
      text-align: left;
      padding: 1rem;
}
  
#behind-the-dough .wrapper article {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      justify-items: left;
      column-gap: 40px;
}

#what-people .wrapper {
    display: grid;
    background-color: #000;
    text-align: left;
    color: #f8fafc;
    padding-top: auto;
    padding-bottom: auto;
    padding: 1rem;

}

blockquote {
    display: grid;
    grid-template-rows: 1fr 1fr;
}


.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  /*   Displays three columns */
    gap: 40px;
    
}


.grid article {
    padding: 1em;
    
    display: flexbox;
    flex-direction: column;
  /*   everything is down where it should be */
    align-items: flex-start;
}

h1 {
    font-size: 2.027rem;
    font-weight: 500;
    padding: 5px;
}

h2 {
    font-size: 1.802rem;
    text-align: center;
}

h3 {
    font-size: 1.266rem;
    text-align: center;
    color: #222;
}

.selection {
    display: block;
    background-color: #f8fafc;
    margin-bottom: 1rem;
    
}
.selection p:nth-child(2) {
    font-weight: 600;
    text-align: center;
}

.selection p:nth-child(3) {
    font-weight: 400;
    text-align: center;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
}

@media (min-width: 768px) {
    .product {
        display: grid;
        grid-template-columns: (4, 1fr);
        grid-template-areas: 
         "img1 img1 img2 img2"
         "img1 img1 img2 img2"
         "img3 img3 img4 img4"
         "img3 img3 img4 img4"    
        ;
    }

    #behind-the-dough .wrapper article {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: left;
      column-gap: 40px;
    }

   .block {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: left;
  
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      /*   Displays three columns */
        gap: 40px;
        
    }
}

@media (min-width: 960px) {
    #sweetheart .wrapper {
        display: flex;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
    }
    /* .product {
        display: grid;
        grid-template-columns: (4, 1fr);
        grid-template-areas: 
         "img1 img1 img2 img2"
         "img1 img1 img2 img2"
         "img3 img3 img4 img4"
         "img3 img3 img4 img4"    
        ;
    }

    #behind-the-dough .wrapper article {
      display: flex;
      grid-template-columns: repeat(2, 1fr);
      justify-items: left;
      column-gap: 40px;
    }

   .block {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: left;
  
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      /*   Displays three columns */
        gap: 40px;
        
    } */
}










































/* .wrapper {
    display: flex;
    margin: 0 auto;
} */

/* header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
    padding-left: 25px;
    padding-right: 25px;
    
    
}
  
  
nav ul {
    display: flex;
    list-style: none;
    justify-it: space-between;

}


@media (min-width: 768px) {
    
} */




/* 
.wrapper .shot{
    display: flexbox;
    border-radius: 10px;
    gap: 2em;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-inline-start: 15px;
    width: 40%;
}


h1 {
    font-size:2.027rem;
    font-weight: 400;
}

h2 {
    font-size: 1.802rem;
    font-weight: 700;
}

.container {
    display: flexbox;
    margin: 20px;
}

a.btn {
  background-color: #000; 
  color: #fff; 
  padding: 15px; 
  border-radius: 5px; 
  margin: auto;
  padding: 10px;
  text-decoration: none;
}

#behind-the-dough .wrapper {
    display: flexbox;
    background-color: #fafafa;
    text-align: center;
    max-width: fit-content;
    justify-content: center;
    padding-top: auto;
    padding-bottom: auto;
    padding: 2em;
    column-gap: 40px;
}

#behind-the-dough .wrapper article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: left;
    column-gap: 40px;
}

#what-people .wrapper {
    display: flexbox;
    background-color: #000;
    text-align: center;
    color: #fafafa;
    padding-top: auto;
    padding-bottom: auto;
    padding: 1em;
    column-gap: 40px;
}

#what-people .wrapper article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: left;
    
}


figcaption {
    font-style: italic ;
}

#initial .wrapper {
    display: grid;
    align-items: center;
    text-align: center;
}

#initial .wrapper img {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    width: 22%;
}


   */